@use '../helpers' as *;

.checkbox {
    position: relative;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    font-size: rem(12);
    color: var(--light-text);
    line-height: 1.4;

    &__input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked ~ .checkbox__checkmark {
            background-color: var(--accent-color);
            border-color: var(--accent-color);

            &:after {
                display: block;
            }
        }
    }

    &__checkmark {
        position: relative;
        top: rem(2);
        flex-shrink: 0;
        width: rem(16);
        height: rem(16);
        border: 1px solid var(--border-color);
        border-radius: rem(3);
        margin-right: rem(10);
        transition: var(--transition);

        &:after {
            content: "";
            position: absolute;
            display: none;
            left: rem(5);
            top: rem(2);
            width: rem(5);
            height: rem(8);
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }

    &__label {
        a {
            color: var(--accent-color);
            text-decoration: underline;
            font-family: var(--font-family-second);
            
            &:hover {
                text-decoration: none;
            }
        }
    }

    &:hover &__input:not(:checked) ~ &__checkmark {
        border-color: var(--accent-color);
    }
}