<section class="about-mission section section--gray">
    <div class="container">
        <div class="about-mission__grid">
            <div class="about-mission__content aos-init aos-animate" data-aos="fade-left">
                <h2 class="section__title section__title--left">Наша миссия и ценности</h2>
                <div class="about-mission__item">
                    <div class="about-mission__icon">
                        <svg width="40" height="40" viewBox="0 0 40 40">
                            <use href="/assets/img/sprite.svg#arrow-right"></use>
                        </svg>
                    </div>
                    <div class="about-mission__text">
                        <h3 class="about-mission__subtitle">Миссия</h3>
                        <p>Создавать качественные продукты и решения, которые помогают нашим клиентам достигать своих
                            целей и развивать бизнес в современных условиях.</p>
                    </div>
                </div>
                <div class="about-mission__item">
                    <div class="about-mission__icon">
                        <svg width="40" height="40" viewBox="0 0 40 40">
                            <use href="/assets/img/sprite.svg#arrow-right"></use>
                        </svg>
                    </div>
                    <div class="about-mission__text">
                        <h3 class="about-mission__subtitle">Видение</h3>
                        <p>Стать признанным лидером в своей отрасли, известным инновационными решениями и безупречным
                            сервисом для клиентов.</p>
                    </div>
                </div>
                <div class="about-mission__item">
                    <div class="about-mission__icon">
                        <svg width="40" height="40" viewBox="0 0 40 40">
                            <use href="assets/img/sprite.svg#arrow-right"></use>
                        </svg>
                    </div>
                    <div class="about-mission__text">
                        <h3 class="about-mission__subtitle">Ценности</h3>
                        <ul class="about-mission__values list">
                            <li class="list__values">Клиентоориентированность</li>
                            <li class="list__values">Инновации и развитие</li>
                            <li class="list__values">Профессионализм команды</li>
                            <li class="list__values">Ответственность и надежность</li>
                            <li class="list__values">Честность и прозрачность</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="about-mission__image aos-init aos-animate" data-aos="fade-left">
                <img src="/assets/img/top-slider/hero-bg3.jpeg" alt="Наша миссия">
            </div>
        </div>
    </div>
</section>