<section class="about section">
  <div class="container">
    <h1 class="section__title aos-init aos-animate" data-aos="fade-in">
      О компании
    </h1>
    <div class="about__grid">
      <div
        class="about__content aos-init aos-animate"
        data-aos="fade-right"
        data-aos-duration="1500"
      >
        <h3 class="about__subtitle">DREAMKONT</h3>
        <p class="about__text">
          — это один из лидирующих производителей в области производства и
          реализации грузовых транспортных (морских) контейнеров.
        </p>
        <p class="about__text">
          Наша компания предоставляет полный комплекс услуг — от проектирования
          нового или переоборудования готового контейнеров для Ваших нужд, по
          Вашим чертежам или наработкам; до реализации Вашего проекта на нашем
          передовом производстве. Наши контейнеры изготавливаются по
          международным стандартам, используя российское сырьё, что делает наши
          контейнеры качественными, надежными и долговечными, даже в самых
          экстремальных условиях.
        </p>
        <p class="about__text">
          Наша продукция активно реализуется в сферах строительства, медицины,
          железнодорожной сфере, малом бизнесе и многих других направлениях.
        </p>
        <a href="/o-kompanii" class="btn btn--primary">Подробнее о нас</a>
      </div>
      <div
        class="about__image aos-init aos-animate"
        data-aos="zoom-in"
        data-aos-duration="1500"
      >
        <img src="/assets/img/about/hero.png" alt="О компании" />
      </div>
    </div>
  </div>
</section>
