<section class="advantages section">
  <div class="container">
    <h1 class="section__title aos-init aos-animate" data-aos="fade-in">Наши преимущества</h2>
    <div class="advantages__grid">
      <div class="advantage-card" data-aos="zoom-in" data-aos-delay="100">
        <div class="advantage-card__icon">
          <!-- <svg width="48" height="48" viewBox="0 0 24 24">
            <use href="#icon-capacity"></use>
          </svg> -->
          <img src="/assets/img/advantages-icons/1_2x.png" alt="" />
        </div>
        <h3 class="advantage-card__title">Комплексный подход</h3>
        <p class="advantage-card__text">
          Предоставление полного спектра услуг от проектирования до ввода
          объекта в эксплуатацию.
        </p>
      </div>

      <div class="advantage-card" data-aos="zoom-in" data-aos-delay="150">
        <div class="advantage-card__icon">
          <img src="/assets/img/advantages-icons/2_2x.png" alt="" />
        </div>
        <h3 class="advantage-card__title">Высокое качество</h3>
        <p class="advantage-card__text">
          Проверенные российские поставщики, Европейская технология
          изготовления.
        </p>
      </div>

      <div class="advantage-card" data-aos="zoom-in" data-aos-delay="200">
        <div class="advantage-card__icon">
          <img src="/assets/img/advantages-icons/3_2x.png" alt="" />
        </div>
        <h3 class="advantage-card__title">Опыт и профессионализм</h3>
        <p class="advantage-card__text">
          Многолетний опыт работы и квалифицированные специалисты гарантируют
          высокое качество выполняемых работ.
        </p>
      </div>

      <div class="advantage-card" data-aos="zoom-in" data-aos-delay="100">
        <div class="advantage-card__icon">
          <img src="/assets/img/advantages-icons/4_2x.png" alt="" />
        </div>
        <h3 class="advantage-card__title">Качество и надежность</h3>
        <p class="advantage-card__text">
          Мы используем только сертифицированные материалы и проверенные технологии, что гарантирует долговечность и эксплуатационную безопасность наших конструкций.
        </p>
      </div>

      <div class="advantage-card" data-aos="zoom-in" data-aos-delay="150">
        <div class="advantage-card__icon">
          <img src="/assets/img/advantages-icons/5_2x.png" alt="" />
        </div>
        <h3 class="advantage-card__title">Гибкие цены</h3>
        <p class="advantage-card__text">
          Предлагаем индивидуальные условия и скидки для постоянных клиентов
        </p>
      </div>

      <div class="advantage-card" data-aos="zoom-in" data-aos-delay="200">
        <div class="advantage-card__icon">
          <img src="/assets/img/advantages-icons/6_2x.png" alt="" />
        </div>
        <h3 class="advantage-card__title">Гарантия и сервисное обслуживание</h3>
        <p class="advantage-card__text">
          Мы предоставляем гарантийное и постгарантийное сопровождение, обеспечивая техническую поддержку и при необходимости модернизацию офисных модулей.
        </p>
      </div>
    </div>
  </div>
</section>
