        <section class="contacts section">
          <div class="container">
                <h1 class="section__title aos-init aos-animate" data-aos="fade-in">
      Контакты
    </h2>
            <div class="contacts__grid">
              <div
                class="contacts__info aos-init aos-animate"
                data-aos="fade-right"
              >
                <div class="contacts__item">
                  <div class="contacts__icon">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use href="/assets/img/sprite.svg#map"></use>
                    </svg>
                  </div>
                  <div class="contacts__content">
                    <h3 class="contacts__subtitle">Адрес</h3>
                    <p class="contacts__text">
                      198515б, Санкт-Петербург, пос. Стрельна, ул. Фронтовая, 3Ю
                    </p>
                  </div>
                </div>
                <div class="contacts__item">
                  <div class="contacts__icon">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use href="/assets/img/sprite.svg#phone"></use>
                    </svg>
                  </div>
                  <div class="contacts__content">
                    <h3 class="contacts__subtitle">Телефон</h3>
                    <p class="contacts__text">
                      <a href="tel:+79316366869">+7 (931) 636-68-69</a>
                    </p>
                  </div>
                </div>
                <div class="contacts__item">
                  <div class="contacts__icon">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use href="/assets/img/sprite.svg#mail"></use>
                    </svg>
                  </div>
                  <div class="contacts__content">
                    <h3 class="contacts__subtitle">Email</h3>
                    <p class="contacts__text">
                      <a href="mailto:metall78rus@mail.ru">metall78rus@mail.ru</a>
                    </p>
                  </div>
                </div>
                <div class="contacts__item">
                  <div class="contacts__icon">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use href="/assets/img/sprite.svg#clock"></use>
                    </svg>
                  </div>
                  <div class="contacts__content">
                    <h3 class="contacts__subtitle">Режим работы</h3>
                    <p class="contacts__text">
                      Пн-Пт: 8:00 - 16:00<br />Сб-Вс: выходной
                    </p>
                  </div>
                </div>
                <div class="contacts__social">
                  <h3 class="contacts__subtitle">Мы в соцсетях</h3>
                  <div class="contacts__social-links">
                    <a
                      href="#"
                      class="contacts__social-link"
                      aria-label="ВКонтакте"
                    >
                      <svg width="24" height="24" viewBox="0 0 24 24">
                        <use href="/assets/img/sprite.svg#vk"></use>
                      </svg>
                    </a>
                    <a
                      href="#"
                      class="contacts__social-link"
                      aria-label="Telegram"
                    >
                      <svg width="24" height="24" viewBox="0 0 24 24">
                        <use href="/assets/img/sprite.svg#telegram"></use>
                      </svg>
                    </a>
                    <a
                      href="#"
                      class="contacts__social-link"
                      aria-label="WhatsApp"
                    >
                      <svg width="24" height="24" viewBox="0 0 24 24">
                        <use href="/assets/img/sprite.svg#whatsapp"></use>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
              <div
                class="contacts__map aos-init aos-animate"
                data-aos="fade-left"
              >
                <iframe
                  src="https://yandex.ru/map-widget/v1/?um=constructor%3A726334a9413cbda929a2028302d28f276da34d2a68f848abf8e58ce1b576bb67&amp;source=constructor"
                  width="100%"
                  height="500"
                  frameborder="0"
                ></iframe>
              </div>
            </div>
          </div>
        </section>