<section class="gallery section section--gray">
    <div class="container">
        <h1 class="section__title aos-init aos-animate" data-aos="zoom-in">Выполненные работы</h2>
        <div class="gallery__grid">
             <a href="/assets/img/portfolio/image-04-10-22-10-37-17.jpeg" class="gallery__item aos-init aos-animate" data-fancybox="gallery" data-aos="zoom-in" data-aos-delay="100">
                <img src="/assets/img/portfolio/image-04-10-22-10-37-17.jpeg" loading="lazy" alt="Работа 65">
                <div class="gallery__overlay">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                        <use href="/assets/img/sprite.svg#zoom"></use>
                    </svg>
                </div>
            </a>
            <a href="/assets/img/projects/2.jpg" class="gallery__item aos-init aos-animate" data-fancybox="gallery" data-aos="zoom-in" data-aos-delay="200">
                <img src="/assets/img/projects/2.jpg" loading="lazy" alt="Работа 2">
                <div class="gallery__overlay">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                        <use href="/assets/img/sprite.svg#zoom"></use>
                    </svg>
                </div>
            </a>
            <a href="/assets/img/portfolio/ba7d7a99-57eb-4879-b032-9cf5ae88a711.jfif" class="gallery__item aos-init aos-animate" data-fancybox="gallery" data-aos="zoom-in" data-aos-delay="300">
                <img src="/assets/img/portfolio/ba7d7a99-57eb-4879-b032-9cf5ae88a711.jfif" loading="lazy" alt="Работа 66">
                <div class="gallery__overlay">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                        <use href="/assets/img/sprite.svg#zoom"></use>
                    </svg>
                </div>
            </a>

            <a href="/assets/img/gallery4.jpg" class="gallery__item aos-init aos-animate" data-fancybox="gallery" data-aos="zoom-in" data-aos-delay="400">
                <img src="/assets/img/projects/4.jpg" loading="lazy" alt="Работа 4">
                <div class="gallery__overlay">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                        <use href="/assets/img/sprite.svg#zoom"></use>
                    </svg>
                </div>
            </a>
            <a href="/assets/img/projects/5.jpg" class="gallery__item aos-init aos-animate" data-fancybox="gallery" data-aos="zoom-in" data-aos-delay="500">
                <img src="/assets/img/projects/5.jpg" loading="lazy" alt="Работа 5">
                <div class="gallery__overlay">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                        <use href="/assets/img/sprite.svg#zoom"></use>
                    </svg>
                </div>
            </a>
            <a href="/assets/img/projects/6.jpg" class="gallery__item aos-init aos-animate" data-fancybox="gallery" data-aos="zoom-in" data-aos-delay="600">
                <img src="/assets/img/projects/6.jpg" loading="lazy" alt="Работа 6">
                <div class="gallery__overlay">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                        <use href="/assets/img/sprite.svg#zoom"></use>
                    </svg>
                </div>
            </a>
        </div>
        <div class="products__more aos-init aos-animate" data-aos="zoom-in">
            <a href="/portfolio" class="btn btn--outline">Смотреть все работы</a>
        </div>
    </div>
</section>