<header class="header">
  <div class="header__top">
    <div class="header__container">
      <address class="header__contacts">
        <p class="header__contact header__contact--address">
          <svg class="header__contact-icon">
            <use href="./assets/img/sprite.svg#map" aria-label=""></use>
          </svg>
          <span>
            198515б, Санкт-Петербург, пос. Стрельна, ул. Фронтовая, 3Ю
          </span>
        </p>
      </address>
    </div>
  </div>

  <!-- Main Header -->
  <div class="header__main">
    <div class="header__container">
      <div class="header__main--inner">
        <!-- Logo -->
        <div class="header__logo">
          <a href="/" class="logo">
            <img src="./assets/img/logo.svg" alt="Logo" class="logo__image" />
          </a>
        </div>

        <!-- Navigation -->
        <nav class="header__nav nav" data-nav="main" role="navigation" aria-label="Основная навигация">
          <ul class="nav__list">
            <li class="nav__item nav__item--has-dropdown">
              <a href="#" class="nav__link" data-dropdown-toggle aria-haspopup="true" aria-expanded="false" aria-controls="dropdown-0">
                Продукция
                <span class="nav__arrow" aria-hidden="true"></span>
              </a>
              <ul class="nav__dropdown nav__dropdown--level-1" id="dropdown-0" aria-hidden="true">
                <li class="nav__dropdown-item nav__dropdown-item--has-dropdown">
                  <a href="#" class="nav__dropdown-link" data-dropdown-toggle>
                    Модульные здания
                    <span class="nav__arrow" aria-hidden="true"></span>
                  </a>
                  <ul class="nav__dropdown nav__dropdown--level-2">
                    <li class="nav__dropdown-item">
                      <a href="#" class="nav__dropdown-link"> Модульный цех </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a href="#" class="nav__dropdown-link">
                        Модульное производство
                      </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a href="#" class="nav__dropdown-link">
                        Модульный склад
                      </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a href="#" class="nav__dropdown-link">
                        Модульный офис
                      </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a href="#" class="nav__dropdown-link">
                        Модульное общежитие
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav__dropdown-item nav__dropdown-item--has-dropdown">
                  <a href="#" class="nav__dropdown-link" data-dropdown-toggle aria-haspopup="true" aria-expanded="false" aria-controls="dropdown-2">
                    Модульное помещения
                    <span class="nav__arrow" aria-hidden="true"></span>
                  </a>
                  <ul class="nav__dropdown nav__dropdown--level-2" id="dropdown-2" aria-hidden="true">
                    <li class="nav__dropdown-item">
                      <a href="#" class="nav__dropdown-link">
                        Кислородная станция
                      </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a href="#" class="nav__dropdown-link">
                        Азотная станция
                      </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a href="#" class="nav__dropdown-link">
                        Электростанция и дизель-генератор
                      </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a href="#" class="nav__dropdown-link">
                        Водоподготовка
                      </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a href="#" class="nav__dropdown-link"> Котельная </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a href="#" class="nav__dropdown-link">
                        Центры обработки данных (ЦОДы)
                      </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a href="#" class="nav__dropdown-link">
                        Насосные станции
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav__dropdown-item nav__dropdown-item--has-dropdown">
                  <a href="#" class="nav__dropdown-link" data-dropdown-toggle>
                    Морской контейнер ONE WAY и БУ
                    <span class="nav__arrow" aria-hidden="true"></span>
                  </a>
                  <ul class="nav__dropdown nav__dropdown--level-2">
                    <li
                      class="nav__dropdown-item nav__dropdown-item--has-dropdown"
                    >
                      <a
                        href="#"
                        class="nav__dropdown-link"
                        data-dropdown-toggle
                      >
                        Dry Cube
                        <span class="nav__arrow" aria-hidden="true"></span>
                      </a>
                      <ul class="nav__dropdown nav__dropdown--level-3">
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">10 футов</a>
                        </li>
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">20 футов</a>
                        </li>
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">30 футов</a>
                        </li>
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">40 футов</a>
                        </li>
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">45 футов</a>
                        </li>
                      </ul>
                    </li>
                    <li
                      class="nav__dropdown-item nav__dropdown-item--has-dropdown"
                    >
                      <a
                        href="#"
                        class="nav__dropdown-link"
                        data-dropdown-toggle
                        aria-haspopup="true"
                        aria-expanded="false"
                        aria-controls="dropdown-5"
                      >
                        Hight Cube
                        <span class="nav__arrow" aria-hidden="true"></span>
                      </a>
                      <ul class="nav__dropdown nav__dropdown--level-3" id="dropdown-5" aria-hidden="true">
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">10 футов</a>
                        </li>
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">20 футов</a>
                        </li>
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">30 футов</a>
                        </li>
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">40 футов</a>
                        </li>
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">45 футов</a>
                        </li>
                      </ul>
                    </li>
                    <li
                      class="nav__dropdown-item nav__dropdown-item--has-dropdown"
                    >
                      <a
                        href="#"
                        class="nav__dropdown-link"
                        data-dropdown-toggle
                        aria-haspopup="true"
                        aria-expanded="false"
                        aria-controls="dropdown-6"
                      >
                        Pallet Wide
                        <span class="nav__arrow" aria-hidden="true"></span>
                      </a>
                      <ul class="nav__dropdown nav__dropdown--level-3" id="dropdown-6" aria-hidden="true">
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">10 футов</a>
                        </li>
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">20 футов</a>
                        </li>
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">30 футов</a>
                        </li>
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">40 футов</a>
                        </li>
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">45 футов</a>
                        </li>
                      </ul>
                    </li>
                    <li
                      class="nav__dropdown-item nav__dropdown-item--has-dropdown"
                    >
                      <a
                        href="#"
                        class="nav__dropdown-link"
                        data-dropdown-toggle
                      >
                        Double Doors
                        <span class="nav__arrow" aria-hidden="true"></span>
                      </a>
                      <ul class="nav__dropdown nav__dropdown--level-3">
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">10 футов</a>
                        </li>
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">20 футов</a>
                        </li>
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">30 футов</a>
                        </li>
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">40 футов</a>
                        </li>
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">45 футов</a>
                        </li>
                      </ul>
                    </li>
                    <li
                      class="nav__dropdown-item nav__dropdown-item--has-dropdown"
                    >
                      <a
                        href="#"
                        class="nav__dropdown-link"
                        data-dropdown-toggle
                        aria-haspopup="true"
                        aria-expanded="false"
                        aria-controls="dropdown-8"
                      >
                        Open Top
                        <span class="nav__arrow" aria-hidden="true"></span>
                      </a>
                      <ul class="nav__dropdown nav__dropdown--level-3" id="dropdown-8" aria-hidden="true">
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">10 футов</a>
                        </li>
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">20 футов</a>
                        </li>
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">30 футов</a>
                        </li>
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">40 футов</a>
                        </li>
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">45 футов</a>
                        </li>
                      </ul>
                    </li>
                    <li
                      class="nav__dropdown-item nav__dropdown-item--has-dropdown"
                    >
                      <a
                        href="#"
                        class="nav__dropdown-link"
                        data-dropdown-toggle
                        aria-haspopup="true"
                        aria-expanded="false"
                        aria-controls="dropdown-9"
                      >
                        Open Side
                        <span class="nav__arrow" aria-hidden="true"></span>
                      </a>
                      <ul class="nav__dropdown nav__dropdown--level-3" id="dropdown-9" aria-hidden="true">
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">10 футов</a>
                        </li>
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">20 футов</a>
                        </li>
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">30 футов</a>
                        </li>
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">40 футов</a>
                        </li>
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">45 футов</a>
                        </li>
                      </ul>
                    </li>
                    <li
                      class="nav__dropdown-item nav__dropdown-item--has-dropdown"
                    >
                      <a
                        href="#"
                        class="nav__dropdown-link"
                        data-dropdown-toggle
                      >
                        Hard Top
                        <span class="nav__arrow" aria-hidden="true"></span>
                      </a>
                      <ul class="nav__dropdown nav__dropdown--level-3">
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">10 футов</a>
                        </li>
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">20 футов</a>
                        </li>
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">30 футов</a>
                        </li>
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">40 футов</a>
                        </li>
                        <li class="nav__dropdown-item">
                          <a href="#" class="nav__dropdown-link">45 футов</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="nav__dropdown-item nav__dropdown-item--has-dropdown">
                  <a href="#" class="nav__dropdown-link" data-dropdown-toggle aria-haspopup="true" aria-expanded="false" aria-controls="dropdown-11">
                    Сухогрузные контейнеры
                    <span class="nav__arrow" aria-hidden="true"></span>
                  </a>
                  <ul class="nav__dropdown nav__dropdown--level-2" id="dropdown-11" aria-hidden="true">
                    <li class="nav__dropdown-item">
                      <a href="#" class="nav__dropdown-link">
                        По размерам ISO
                      </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a href="#" class="nav__dropdown-link">
                        Габариты по ТЗ заказчика
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav__item nav__item--has-dropdown">
              <a href="#" class="nav__link" data-dropdown-toggle>
                О компании
                <span class="nav__arrow" aria-hidden="true"></span>
              </a>
              <ul class="nav__dropdown nav__dropdown--level-1">
                <li class="nav__dropdown-item">
                  <a href="#" class="nav__dropdown-link"> Производство </a>
                </li>
                <li class="nav__dropdown-item">
                  <a href="#" class="nav__dropdown-link"> Наша команда </a>
                </li>
              </ul>
            </li>
            <li class="nav__item nav__item--has-dropdown">
              <a href="#" class="nav__link" data-dropdown-toggle aria-haspopup="true" aria-expanded="false" aria-controls="dropdown-13">
                Услуги
                <span class="nav__arrow" aria-hidden="true"></span>
              </a>
              <ul class="nav__dropdown nav__dropdown--level-1" id="dropdown-13" aria-hidden="true">
                <li class="nav__dropdown-item">
                  <a href="#" class="nav__dropdown-link">
                    Производство контейнеров
                  </a>
                </li>
                <li class="nav__dropdown-item">
                  <a href="#" class="nav__dropdown-link">
                    Переоборудование контейнеров
                  </a>
                </li>
                <li class="nav__dropdown-item">
                  <a href="#" class="nav__dropdown-link">
                    Проектирование и дизайн контейнеров
                  </a>
                </li>
                <li class="nav__dropdown-item">
                  <a href="#" class="nav__dropdown-link">
                    Строительство модульных зданий
                  </a>
                </li>
                <li class="nav__dropdown-item">
                  <a href="#" class="nav__dropdown-link">
                    Доставка контейнеров
                  </a>
                </li>
                <li class="nav__dropdown-item">
                  <a href="#" class="nav__dropdown-link">
                    Установка противопожарных систем в контейнерах
                  </a>
                </li>
                <li class="nav__dropdown-item">
                  <a href="#" class="nav__dropdown-link">
                    Сборка щитов управления собственных нужд
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Сертификаты</a>
            </li>
            <li class="nav__item nav__item--has-dropdown">
              <a href="#" class="nav__link" data-dropdown-toggle>
                Портфолио                                  
                <span class="nav__arrow" aria-hidden="true"></span>
              </a>
              <ul class="nav__dropdown nav__dropdown--level-1">
                <li class="nav__dropdown-item">
                  <a href="#" class="nav__dropdown-link">Модульные здания</a>
                </li>
                <li class="nav__dropdown-item">
                  <a href="#" class="nav__dropdown-link">Блок-контейнеры</a>
                </li>
              </ul>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Контакты</a>
            </li>
          </ul>
          <!-- Mobile Menu Actions -->
          <div class="nav__mobile-actions">
            <button
              class="nav__call-btn btn btn--primary"
              data-modal="callback"
            >
              Заказать звонок
            </button>
            <div class="nav__social-links">
              <a
                href="https://t.me/dreamkont"
                class="actions__contact actions__contact--telegram"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Telegram"
                data-da=".actions__contacts-group,1024,first"
              >
                <svg class="actions__contact-icon">
                  <use
                    href="./assets/img/sprite.svg#telegram"
                    aria-label=""
                  ></use>
                </svg>
              </a>
              <a
                href="https://wa.me/79316366869"
                class="actions__contact actions__contact--whatsapp"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="WhatsApp"
                data-da=".actions__contacts-group,1024,first"
              >
                <svg class="actions__contact-icon">
                  <use
                    href="./assets/img/sprite.svg#whatsapp"
                    aria-label=""
                  ></use>
                </svg>
              </a>
            </div>
          </div>
        </nav>
        <!-- Actions -->
        <div class="header__actions actions">
          <a
            href="mailto:info@dreamkont.ru"
            class="actions__contact actions__contact--email"
            data-da=".header__contacts,1024,first"
            ><svg class="actions__contact-icon">
              <use
                href="./assets/img/sprite.svg#mail"
                aria-label=""
              ></use>
            </svg>
            <span>metall78rus@mail.ru</span>
          </a>
          <div class="actions__contacts-group" data-da=".header__contacts,1024,last">
            <a
              href="tel:+79316366869"
              class="actions__contact actions__contact--phone"
            >
              <svg class="actions__contact-icon">
                <use
                  href="./assets/img/sprite.svg#phone"
                  aria-label=""
                ></use>
              </svg>
              <span> +7 (931) 636-68-69 </span>
            </a>
          </div>
          <!-- Call Button -->
          <button
            class="actions__call-btn btn btn--primary"
            data-modal="callback"
          >
            Заказать звонок
          </button>

          <!-- Mobile Menu Toggle -->
          <button
            class="actions__menu-toggle menu-toggle"
            aria-label="Открыть/закрыть меню"
            aria-expanded="false"
          >
            <span class="menu-toggle__line"></span>
            <span class="menu-toggle__line"></span>
            <span class="menu-toggle__line"></span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile Navigation Overlay -->
  <div class="header__mobile-overlay" data-mobile-overlay></div>
</header>
