  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg" />
    <link rel="icon" type="image/png" href="/assets/favicon/favicon.png" />
    <link
      rel="preload"
      href="/assets/fonts/MontserratRegular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/MontserratBold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="stylesheet" href="/styles/style.scss" />
    <script>
      (function () {
        try {
          if (localStorage.getItem('dreamkont_cookie_consent_v1')) {
            document.documentElement.classList.add('cookie-consent-done');
          }
        } catch (e) {}
      })();
    </script>
    <title>главная</title>
  </head>