 <section class="hero">
        <div class="swiper hero-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide hero-slide" style="background-image: url('/assets/img/top-slider/hero-bg1.jpeg');">
              <div class="container">
                <div class="hero-slide__content" data-aos="zoom-in">
                  <h1 class="hero-slide__title">Модульные здания</h1>
                  <p class="hero-slide__subtitle">Проектируем и строим уникальные проекты из контейнеров</p>
                  <div class="hero-slide__buttons">
                    <a href="/produkciya/modulnye-zdaniya" class="btn btn--primary">Подробнее</a>
                    <button class="actions__call-btn btn btn--outline" data-modal="callback">Заказать</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide hero-slide" style="background-image: url('/assets/img/top-slider/hero-bg2.jpeg');">
              <div class="container">
                <div class="hero-slide__content" data-aos="zoom-in">
                  <h1 class="hero-slide__title">Переоборудование контейнеров</h1>
                  <p class="hero-slide__subtitle">Для любых нужд. По любым чертежам и наброскам. С опытом и гарантией!
                  </p>
                  <div class="hero-slide__buttons">
                    <a href="/uslugi/pereoborudovanie-kontejnerov" class="btn btn--primary">Подробнее</a>
                    <button class="actions__call-btn btn btn--outline" data-modal="callback">Заказать</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide hero-slide" style="background-image: url('/assets/img/top-slider/hero-bg3.jpeg');">
              <div class="container">
                <div class="hero-slide__content" data-aos="zoom-in">
                  <h1 class="hero-slide__title">Контейнеры</h1>
                  <p class="hero-slide__subtitle">Оставьте заявку и мы найдем решение вашей задачи!</p>
                  <div class="hero-slide__buttons">
                    <a href="/produkciya/morskoj-kontejner-one-way-i-bu" class="btn btn--primary">Подробнее</a>
                    <button class="actions__call-btn btn btn--outline" data-modal="callback">Заказать</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev" aria-label="Предыдущий слайд" role="button"></div>
          <div class="swiper-button-next" aria-label="Следующий слайд" role="button"></div>
        </div>
      </section>