<section class="news-items section">
        <div class="container">
             <h1 class="section__title aos-init aos-animate" data-aos="fade-in">Новости</h2>
            <div class="news-items__grid">
                <!-- News Article 1 -->
                <article class="news-article" data-aos="zoom-in">
                    <div class="news-article__image">
                        <a href="news-single.html">
                            <img src="/assets/img/news/9-maya.jpg" alt="Заголовок новости">
                        </a>
                        <time class="news-article__date" datetime="2023-06-15">15 июня 2023</time>
                    </div>
                    <div class="news-article__content">
                        <h2 class="news-article__title">
                            <a href="news-single.html">Компания "Пример" запустила новую линейку продукции</a>
                        </h2>
                        <p class="news-article__excerpt">Мы рады сообщить о расширении нашего ассортимента. Теперь в каталоге представлено более 50 новых позиций, разработанных с учетом последних технологических тенденций.</p>
                        <div class="news-article__footer">
                            <a href="news-single.html" class="news-article__read-more">Читать далее</a>
                            <div class="news-article__views">
                                <svg width="16" height="16" viewBox="0 0 16 16">
                                    <use href="/assets/img/sprite.svg#eye"></use>
                                </svg>
                                256
                            </div>
                        </div>
                    </div>
                </article>

                <!-- News Article 2 -->
              <article class="news-article" data-aos="zoom-in">
                    <div class="news-article__image">
                        <a href="news-single.html">
                            <img src="/assets/img/news/9-maya.jpg" alt="Заголовок новости">
                        </a>
                        <time class="news-article__date" datetime="2023-05-28">28 мая 2023</time>
                    </div>
                    <div class="news-article__content">
                        <h2 class="news-article__title">
                            <a href="news-single.html">Участие в международной выставке Industry Expo 2023</a>
                        </h2>
                        <p class="news-article__excerpt">Наша компания приняла участие в крупнейшей отраслевой выставке, где представила свои новейшие разработки. Стенд привлек внимание многочисленных посетителей и потенциальных партнеров.</p>
                        <div class="news-article__footer">
                            <a href="news-single.html" class="news-article__read-more">Читать далее</a>
                            <div class="news-article__views">
                                <svg width="16" height="16" viewBox="0 0 16 16">
                                    <use href="/assets/img/sprite.svg#eye"></use>
                                </svg>
                                189
                            </div>
                        </div>
                    </div>
                </article>

                <!-- News Article 3 -->
               <article class="news-article" data-aos="zoom-in">
                    <div class="news-article__image">
                        <a href="news-single.html">
                            <img src="/assets/img/news/9-maya.jpg" alt="Заголовок новости">
                        </a>
                        <time class="news-article__date" datetime="2023-04-10">10 апреля 2023</time>
                    </div>
                    <div class="news-article__content">
                        <h2 class="news-article__title">
                            <a href="news-single.html">Открытие нового офиса в Санкт-Петербурге</a>
                        </h2>
                        <p class="news-article__excerpt">Мы продолжаем расширять географию присутствия. Теперь наши клиенты в Северо-Западном регионе могут получить весь спектр услуг в новом современном офисе.</p>
                        <div class="news-article__footer">
                            <a href="news-single.html" class="news-article__read-more">Читать далее</a>
                            <div class="news-article__views">
                                <svg width="16" height="16" viewBox="0 0 16 16">
                                    <use href="/assets/img/sprite.svg#eye"></use>
                                </svg>
                                145
                            </div>
                        </div>
                    </div>
                </article>

                <article class="news-article" data-aos="zoom-in">
                    <div class="news-article__image">
                        <a href="news-single.html">
                            <img src="/assets/img/news/9-maya.jpg" alt="Заголовок новости">
                        </a>
                        <time class="news-article__date" datetime="2023-06-15">15 июня 2023</time>
                    </div>
                    <div class="news-article__content">
                        <h2 class="news-article__title">
                            <a href="news-single.html">Компания "Пример" запустила новую линейку продукции</a>
                        </h2>
                        <p class="news-article__excerpt">Мы рады сообщить о расширении нашего ассортимента. Теперь в каталоге представлено более 50 новых позиций, разработанных с учетом последних технологических тенденций.</p>
                        <div class="news-article__footer">
                            <a href="news-single.html" class="news-article__read-more">Читать далее</a>
                            <div class="news-article__views">
                                <svg width="16" height="16" viewBox="0 0 16 16">
                                    <use href="/assets/img/sprite.svg#eye"></use>
                                </svg>
                                256
                            </div>
                        </div>
                    </div>
                </article>

                <!-- News Article 2 -->
              <article class="news-article" data-aos="zoom-in">
                    <div class="news-article__image">
                        <a href="news-single.html">
                            <img src="/assets/img/news/9-maya.jpg" alt="Заголовок новости">
                        </a>
                        <time class="news-article__date" datetime="2023-05-28">28 мая 2023</time>
                    </div>
                    <div class="news-article__content">
                        <h2 class="news-article__title">
                            <a href="news-single.html">Участие в международной выставке Industry Expo 2023</a>
                        </h2>
                        <p class="news-article__excerpt">Наша компания приняла участие в крупнейшей отраслевой выставке, где представила свои новейшие разработки. Стенд привлек внимание многочисленных посетителей и потенциальных партнеров.</p>
                        <div class="news-article__footer">
                            <a href="news-single.html" class="news-article__read-more">Читать далее</a>
                            <div class="news-article__views">
                                <svg width="16" height="16" viewBox="0 0 16 16">
                                    <use href="/assets/img/sprite.svg#eye"></use>
                                </svg>
                                189
                            </div>
                        </div>
                    </div>
                </article>

                <!-- News Article 3 -->
               <article class="news-article" data-aos="zoom-in">
                    <div class="news-article__image">
                        <a href="news-single.html">
                            <img src="/assets/img/news/9-maya.jpg" alt="Заголовок новости">
                        </a>
                        <time class="news-article__date" datetime="2023-04-10">10 апреля 2023</time>
                    </div>
                    <div class="news-article__content">
                        <h2 class="news-article__title">
                            <a href="news-single.html">Открытие нового офиса в Санкт-Петербурге</a>
                        </h2>
                        <p class="news-article__excerpt">Мы продолжаем расширять географию присутствия. Теперь наши клиенты в Северо-Западном регионе могут получить весь спектр услуг в новом современном офисе.</p>
                        <div class="news-article__footer">
                            <a href="news-single.html" class="news-article__read-more">Читать далее</a>
                            <div class="news-article__views">
                                <svg width="16" height="16" viewBox="0 0 16 16">
                                    <use href="/assets/img/sprite.svg#eye"></use>
                                </svg>
                                145
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <!-- Pagination -->
            <div class="pagination" data-aos="zoom-in" data-aos-delay="100">

                <a href="#" class="pagination__arrow pagination__arrow--prev disabled">
                    <svg width="16" height="16" viewBox="0 0 16 16">
                        <use href="img/sprite.svg#arrow-left"></use>
                    </svg>
                </a>
                <a href="#" class="pagination__item active">1</a>
                <a href="#" class="pagination__item">2</a>
                <a href="#" class="pagination__item">3</a>
                <span class="pagination__dots">...</span>
                <a href="#" class="pagination__item">5</a>
                <a href="#" class="pagination__arrow pagination__arrow--next">
                    <svg width="16" height="16" viewBox="0 0 16 16">
                        <use href="img/sprite.svg#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </section>

