<section class="products section">
        <div class="container">
          <h1 class="section__title aos-init aos-animate" data-aos="zoom-in">Наша продукция</h2>
          <div class="products__grid">
            <div class="product-card aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
              <div class="product-card__image">
                <img src="/assets/img/products/modulnoye-zdaniye.jpg" alt="модульное здание">
              </div>
              <div class="product-card__body">
              <h3 class="product-card__title">Модульные здания</h3>
              <!-- <p class="product-card__desc">Краткое описание продукции и ее основных характеристик</p> -->
               </div>
              <a href="/produkciya/modulnye-zdaniya" class="btn btn--primary">Подробнее</a>
            </div>
            <div class="product-card aos-init aos-animate" data-aos="zoom-in" data-aos-delay="150">
              <div class="product-card__image">
                <img src="/assets/img/products/modulnoye-proizvodstvo.jpg" alt="модульное производство">
              </div>
              <div class="product-card__body">
              <h3 class="product-card__title">Модульное производство</h3>
              <!-- <p class="product-card__desc">Краткое описание продукции и ее основных характеристик</p> -->
               </div>
              <a href="/produkciya/modulnye-zdaniya/modulnoe-proizvodstvo" class="btn btn--primary">Подробнее</a>
            </div>
            <div class="product-card aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
              <div class="product-card__image">
                <img src="/assets/img/products/modul'nyy-sklad.jpg" alt="модульный склад">
              </div>
              <div class="product-card__body">
              <h3 class="product-card__title">Модульный склад</h3>
              <!-- <p class="product-card__desc">Краткое описание продукции и ее основных характеристик</p> -->
               </div>
              <a href="/produkciya/modulnye-zdaniya/modulnyj-sklad" class="btn btn--primary">Подробнее</a>
            </div>
            <div class="product-card aos-init aos-animate" data-aos="zoom-in" data-aos-delay="250">
              <div class="product-card__image">
                <img src="/assets/img/products/modul'nyy-tsekh.jpg" alt="модульный цех">
              </div>
              <div class="product-card__body">
              <h3 class="product-card__title">Модульный цех</h3>
              <!-- <p class="product-card__desc">Краткое описание продукции и ее основных характеристик</p> -->
               </div>
              <a href="/produkciya/modulnye-zdaniya/modulnyj-ceh" class="btn btn--primary">Подробнее</a>
            </div>
             <div class="product-card aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
              <div class="product-card__image">
                <img src="/assets/img/products/modul'nyy-tsekh.jpg" alt="модульный цех">
              </div>
             <div class="product-card__body">
              <h3 class="product-card__title">Модульный цех</h3>
              <!-- <p class="product-card__desc">Краткое описание продукции и ее основных характеристик</p> -->
               </div>
              <a href="/produkciya/modulnye-zdaniya/modulnyj-ceh" class="btn btn--primary">Подробнее</a>
            </div>
          </div>
         <div class="products__more aos-init" data-aos="zoom-in">
            <a href="/produkciya" class="btn btn--outline">Смотреть весь каталог</a>
          </div>
        </div>
      </section>