<section class="production-process section">
    <div class="container">
        <h2 class="section__title aos-init aos-animate" data-aos="fade-up">Сферы применения</h2>

        <div class="process-steps">
            <div class="process-step aos-init aos-animate" data-aos="fade-in" data-aos-delay="10">

                <div class="process-step__number">01</div>
                <div class="process-step__content">
                    <h3 class="process-step__title">Строительство</h3>
                    <p class="process-step__text">промышленные и складские здания с кран балками до 40 тонн.
                    </p>
                </div>
            </div>

            <div class="process-step aos-init aos-animate" data-aos="fade-in" data-aos-delay="100">
                <div class="process-step__number">02</div>
                <div class="process-step__content">
                    <h3 class="process-step__title">Строительные площадки</h3>
                    <p class="process-step__text">временные бытовки, вагончики для рабочих, офисы на стройплощадке.</p>
                </div>
            </div>

            <div class="process-step aos-init" data-aos="fade-in" data-aos-delay="100">
                <div class="process-step__number">03</div>
                <div class="process-step__content">
                    <h3 class="process-step__title">Коммерция</h3>
                    <p class="process-step__text">покрасочные камеры, автосервисы, автомобильние мойки, киоски,
                        магазины, офисные здания.</p>
                </div>
            </div>

            <div class="process-step aos-init" data-aos="fade-in" data-aos-delay="100">
                <div class="process-step__number">04</div>
                <div class="process-step__content">
                    <h3 class="process-step__title">Социальная сфера</h3>
                    <p class="process-step__text">медицинские пункты.
                    </p>
                </div>
            </div>

            <div class="process-step aos-init" data-aos="fade-in" data-aos-delay="100">
                <div class="process-step__number">05</div>
                <div class="process-step__content">
                    <h3 class="process-step__title">Частное использование</h3>
                    <p class="process-step__text">дачные дома, компактные жилые модули.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>