 <section class="requisites section">
          <div class="container">
            <h1 class="section__title aos-init aos-animate" data-aos="zoom-in">
              Реквизиты компании
            </h2>
            <div class="requisites__grid">
              <div
                class="requisites__col aos-init"
                data-aos="zoom-in"
                data-aos-delay="100"
              >
                <h3 class="requisites__subtitle">Юридическая информация</h3>
                <ul class="requisites__list">
                  <li class="requisites__item">
                    <span class="requisites__name">Название:</span>
                    <span class="requisites__value">ООО "Дримконт"</span>
                  </li>
                  <li class="requisites__item">
                    <span class="requisites__name">ИНН:</span>
                    <span class="requisites__value">7819046184</span>
                  </li>
                  <li class="requisites__item">
                    <span class="requisites__name">КПП:</span>
                    <span class="requisites__value">781901001</span>
                  </li>
                  <li class="requisites__item">
                    <span class="requisites__name"
                      >Юридический и фактический адрес:</span
                    >
                    <span class="requisites__value"
                      >г. Санкт-Петербург, вн.тер.г. поселок Стрельна, п
                      Стрельна, ул Фронтовая, д. 3, литера Ю, помещ. 7
                    </span>
                  </li>
                </ul>
              </div>
              <div
                class="requisites__col aos-init"
                data-aos="zoom-in"
                data-aos-delay="200"
              >
                <h3 class="requisites__subtitle">Банковские реквизиты</h3>
                <ul class="requisites__list">
                  <li class="requisites__item">
                    <span class="requisites__name">Банк:</span>
                    <span class="requisites__value"
                      >ТОЧКА ПАО БАНКА «ФК ОТКРЫТИЕ»</span
                    >
                  </li>
                  <li class="requisites__item">
                    <span class="requisites__name">Р/с:</span>
                    <span class="requisites__value">40702810401500128530</span>
                  </li>
                  <li class="requisites__item">
                    <span class="requisites__name">К/с:</span>
                    <span class="requisites__value">30101810845250000999</span>
                  </li>
                  <li class="requisites__item">
                    <span class="requisites__name">БИК:</span>
                    <span class="requisites__value">044525999</span>
                  </li>
                </ul>
              </div>
              <div
                class="requisites__col aos-init"
                data-aos="zoom-in"
                data-aos-delay="300"
              >
                <h3 class="requisites__subtitle">Документы</h3>
                <ul class="requisites__documents">
                  <li class="requisites__document">
                    <a
                      class="requisites__document-link"
                      href="assets/files/company-card.docx"
                    >
                      Карточка предприятия
                    </a>
                  </li>
                  <li class="requisites__document">
                    <a
                      class="requisites__document-link"
                      href="assets/files/certificate-of-conformity-dreamcont.pdf"
                    >
                      Сертификат соответствия Дримконт
                    </a>
                  </li>
                  <li class="requisites__document">
                    <a
                      class="requisites__document-link"
                      href="assets/files/certificate-of-conformity-iso"
                    >
                      Сертификат соответствия ISO
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>