<section class="reviews section section--gray">
    <div class="container">
        <h2 class="section__title">Отзывы наших клиентов</h2>
        <div class="reviews-slider swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide review">
                    <div class="review__header">
                        <div class="review__avatar">
                            <img src="/assets/img/reviews/aleksandr-borodin.jpeg" alt="Александр Бородин">
                        </div>
                        <div class="review__author">
                            <h3 class="review__name">Александр Бородин</h3>
                        </div>
                    </div>
                    <div class="review__content">
                        <p>Сделали все быстро и качественно. Рекомендую</p>
                    </div>
                    <div class="review__rating">
                        <svg width="16" height="16" viewBox="0 0 16 16">
                            <use href="/assets/img/sprite.svg#star"></use>
                        </svg>
                        <svg width="16" height="16" viewBox="0 0 16 16">
                            <use href="/assets/img/sprite.svg#star"></use>
                        </svg>
                        <svg width="16" height="16" viewBox="0 0 16 16">
                            <use href="/assets/img/sprite.svg#star"></use>
                        </svg>
                        <svg width="16" height="16" viewBox="0 0 16 16">
                            <use href="/assets/img/sprite.svg#star"></use>
                        </svg>
                        <svg width="16" height="16" viewBox="0 0 16 16">
                            <use href="/assets/img/sprite.svg#star"></use>
                        </svg>
                    </div>
                </div>
                <div class="swiper-slide review">
                    <div class="review__header">
                        <div class="review__avatar">
                            <img src="/assets/img/reviews/aleksandr-borodin.jpeg" alt="Александр Бородин">
                        </div>
                        <div class="review__author">
                            <h3 class="review__name">Александр Бородин</h3>
                        </div>
                    </div>
                    <div class="review__content">
                        <p>Сделали все быстро и качественно. Рекомендую</p>
                    </div>
                    <div class="review__rating">
                        <svg width="16" height="16" viewBox="0 0 16 16">
                            <use href="/assets/img/sprite.svg#star"></use>
                        </svg>
                        <svg width="16" height="16" viewBox="0 0 16 16">
                            <use href="/assets/img/sprite.svg#star"></use>
                        </svg>
                        <svg width="16" height="16" viewBox="0 0 16 16">
                            <use href="/assets/img/sprite.svg#star"></use>
                        </svg>
                        <svg width="16" height="16" viewBox="0 0 16 16">
                            <use href="/assets/img/sprite.svg#star"></use>
                        </svg>
                        <svg width="16" height="16" viewBox="0 0 16 16">
                            <use href="/assets/img/sprite.svg#star"></use>
                        </svg>
                    </div>
                </div>
                <div class="swiper-slide review">
                    <div class="review__header">
                        <div class="review__avatar">
                            <img src="/assets/img/reviews/aleksandr-borodin.jpeg" alt="Александр Бородин">
                        </div>
                        <div class="review__author">
                            <h3 class="review__name">Александр Бородин</h3>
                        </div>
                    </div>
                    <div class="review__content">
                        <p>Сделали все быстро и качественно. Рекомендую</p>
                    </div>
                    <div class="review__rating">
                        <svg width="16" height="16" viewBox="0 0 16 16">
                            <use href="/assets/img/sprite.svg#star"></use>
                        </svg>
                        <svg width="16" height="16" viewBox="0 0 16 16">
                            <use href="/assets/img/sprite.svg#star"></use>
                        </svg>
                        <svg width="16" height="16" viewBox="0 0 16 16">
                            <use href="/assets/img/sprite.svg#star"></use>
                        </svg>
                        <svg width="16" height="16" viewBox="0 0 16 16">
                            <use href="/assets/img/sprite.svg#star"></use>
                        </svg>
                        <svg width="16" height="16" viewBox="0 0 16 16">
                            <use href="/assets/img/sprite.svg#star"></use>
                        </svg>
                    </div>
                </div>
                <div class="swiper-slide review">
                    <div class="review__header">
                        <div class="review__avatar">
                            <img src="/assets/img/reviews/aleksandr-borodin.jpeg" alt="Александр Бородин">
                        </div>
                        <div class="review__author">
                            <h3 class="review__name">Василий Богданов</h3>
                        </div>
                    </div>
                    <div class="review__content">
                       <p>Проверенная компания, с которой работаю не первый год. Никогда не подводили, всегда всё в
                            лучшем виде, за что и благодарю!!</p>
                    </div>
                    <div class="review__rating">
                        <svg width="16" height="16" viewBox="0 0 16 16">
                            <use href="/assets/img/sprite.svg#star"></use>
                        </svg>
                        <svg width="16" height="16" viewBox="0 0 16 16">
                            <use href="/assets/img/sprite.svg#star"></use>
                        </svg>
                        <svg width="16" height="16" viewBox="0 0 16 16">
                            <use href="/assets/img/sprite.svg#star"></use>
                        </svg>
                        <svg width="16" height="16" viewBox="0 0 16 16">
                            <use href="/assets/img/sprite.svg#star"></use>
                        </svg>
                        <svg width="16" height="16" viewBox="0 0 16 16">
                            <use href="/assets/img/sprite.svg#star"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>