<div class="container">
  <table class="specs-table">
    <tbody>
      <tr class="specs-category">
        <td colspan="2">Внешние габариты</td>
      </tr>
      <tr>
        <td>Длина, мм</td>
        <td>2991</td>
      </tr>
      <tr>
        <td>Ширина, мм</td>
        <td>2438</td>
      </tr>
      <tr>
        <td>Высота, мм</td>
        <td>2591</td>
      </tr>
      <tr class="specs-category">
        <td colspan="2">Внутренние размеры</td>
      </tr>
      <tr>
        <td>Длина, мм</td>
        <td>2838</td>
      </tr>
      <tr>
        <td>Ширина, мм</td>
        <td>2352</td>
      </tr>
      <tr>
        <td>Высота, мм</td>
        <td>2393</td>
      </tr>
      <tr class="specs-category">
        <td colspan="2">Размеры дверного проема</td>
      </tr>
      <tr>
        <td>Ширина, мм</td>
        <td>2336</td>
      </tr>
      <tr>
        <td>Высота, мм</td>
        <td>2291</td>
      </tr>
      <tr class="specs-category">
        <td colspan="2">Характеристики</td>
      </tr>
      <tr>
        <td>Объем, м³</td>
        <td>16,5</td>
      </tr>
      <tr>
        <td>Масса тары, кг</td>
        <td>1200</td>
      </tr>
      <tr>
        <td>Грузоподъемность, т</td>
        <td>22</td>
      </tr>
      <tr>
        <td>Вместимость европаллет 800×1200 мм, шт</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>
</div>
