   <section class="subscribe section section--gray">
        <div class="container">
            <div class="subscribe__inner" data-aos="zoom-in">
                <div class="subscribe__content">
                     <h2 class="subscribe__title aos-init aos-animate" data-aos="fade-in">Подпишитесь на наши новости</h2>
                    <p class="subscribe__text">Будьте в курсе последних событий, акций и специальных предложений</p>
                </div>
                <form class="subscribe__form">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Ваш email" required>
                        <button type="submit" class="btn btn--primary">Подписаться</button>
                    </div>
                    <div class="subscribe__agree">
                        Нажимая кнопку, вы соглашаетесь с <a href="#">политикой конфиденциальности</a>
                    </div>
                </form>
            </div>
        </div>
    </section>