<section class="team-about section">
      <div class="container">
        <h1 class="section__title aos-init" data-aos="zoom-in">Наша команда</h1>
          <div class="team-about__grid">
              <div class="team-about__content aos-init aos-animate" data-aos="fade-right">
                  <h2 class="section__title">Кто мы</h2>
                  <p>Наша команда - это коллектив высококвалифицированных специалистов, объединенных общей целью - создавать лучшие продукты и решения для наших клиентов. Мы ценим профессионализм, креативность и командный дух.</p>
                  
                  <div class="team-stats">
                      <div class="team-stat">
                          <div class="team-stat__number">50+</div>
                          <div class="team-stat__label">Специалистов</div>
                      </div>
                      <div class="team-stat">
                          <div class="team-stat__number">15</div>
                          <div class="team-stat__label">Лет опыта</div>
                      </div>
                      <div class="team-stat">
                          <div class="team-stat__number">1000+</div>
                          <div class="team-stat__label">Реализованных проектов</div>
                      </div>
                  </div>
              </div>
              
              <div class="team-about__image aos-init aos-animate" data-aos="fade-left">
                  <img src="/assets/img/team/team.jpg" alt="Наша команда">
              </div>
          </div>
      </div>
  </section>