<section class="section">
  <div class="container">
  <header class="section__header">
    <h2 class="section__title aos-init aos-animate" data-aos="zoom-in">
      Видео
    </h2>
  </header>
  <div class="section__body">
    <div class="horizontal-slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide horizontal-slider__item  aos-init aos-animate" data-aos="zoom-in">
         <div class="video-player">
            <video class="video-js vjs-default-skin" controls muted preload="auto">
              <source src="/assets/videos/3d.mp4" type="video/mp4">
              Ваш браузер не поддерживает видео.
            </video>
          </div>
        </div>
                <div class="swiper-slide horizontal-slider__item  aos-init aos-animate" data-aos="zoom-in">
         <div class="video-player">
            <video class="video-js vjs-default-skin" controls muted preload="auto">
              <source src="/assets/videos/example.mp4" type="video/mp4">
              Ваш браузер не поддерживает видео.
            </video>
          </div>
        </div>
                <div class="swiper-slide horizontal-slider__item  aos-init aos-animate" data-aos="zoom-in">
         <div class="video-player">
            <video class="video-js vjs-default-skin" controls muted preload="auto">
              <source src="/assets/videos/3d.mp4" type="video/mp4">
              Ваш браузер не поддерживает видео.
            </video>
          </div>
        </div>
                <div class="swiper-slide horizontal-slider__item  aos-init aos-animate" data-aos="zoom-in">
         <div class="video-player">
            <video class="video-js vjs-default-skin" controls muted preload="auto">
              <source src="/assets/videos/example.mp4" type="video/mp4">
              Ваш браузер не поддерживает видео.
            </video>
          </div>
        </div>
                <div class="swiper-slide horizontal-slider__item  aos-init aos-animate" data-aos="zoom-in">
         <div class="video-player">
            <video class="video-js vjs-default-skin" controls muted preload="auto">
              <source src="/assets/videos/example.mp4" type="video/mp4">
              Ваш браузер не поддерживает видео.
            </video>
          </div>
        </div>
                <div class="swiper-slide horizontal-slider__item  aos-init aos-animate" data-aos="zoom-in">
         <div class="video-player">
            <video class="video-js vjs-default-skin" controls muted preload="auto">
              <source src="/assets/videos/example.mp4" type="video/mp4">
              Ваш браузер не поддерживает видео.
            </video>
          </div>
        </div>
                <div class="swiper-slide horizontal-slider__item  aos-init aos-animate" data-aos="zoom-in">
         <div class="video-player">
            <video class="video-js vjs-default-skin" controls muted preload="auto">
              <source src="/assets/videos/example.mp4" type="video/mp4">
              Ваш браузер не поддерживает видео.
            </video>
          </div>
        </div>

      </div>
      <div class="swiper-button-prev" aria-label="Предыдущий слайд" role="button"></div>
      <div class="swiper-button-next" aria-label="Следующий слайд" role="button"></div>
    </div>
  </div>
  </div>
</section>
